<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Web Scale</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbar" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="isMenuCollapsed = true">Home <span
            class="sr-only">(current)</span></a>
      </li>

    </ul>
    <a (click)="isMenuCollapsed = true" target="_blank" href="https://github.com/nikmartin/motif-web-scale">
      <img src="./assets/GitHub-Mark-Light-32px.png"></a>

  </div>
</nav>


<main role="main" class="container">
  <div class="main">

    <h1>Weight: {{weight}} {{unit}}</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="connect()">
        Connect
      </button>
      <button type="button" class="btn btn-secondary" (click)="zero()">
        Zero/Tare
      </button>

      <button type="button" class="btn btn-danger" (click)="disconnect()">
        Disconnect
      </button>
    </div>


    <br><br>


    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioUnits" [(ngModel)]="unit">
      <label class="btn-secondary" ngbButtonLabel>
        <input type="radio" ngbButton value="kg"> kG
      </label>
      <label class="btn-secondary" ngbButtonLabel>
        <input type="radio" ngbButton value="g"> G
      </label>
      <label class="btn-secondary" ngbButtonLabel>
        <input type="radio" ngbButton value="oz"> Oz
      </label>
    </div>
  </div>
  <h4>What is this?</h4>
  <p>The <a target="_blank"
      href="https://sidedeal.com/deals/motif-mentor-smart-perfect-coffee-drink-baking-scale-12">
      Motif Mentor Smart Scale</a>
    is a neat Bluetooth based scale that has poor app support. This web app
    does what everyone asks for when they get the scale:
  </p>
  <blockquote class="blockquote">
    <p>"I just want to weigh stuff"</p>
    <footer class="blockquote-footer">everyone</footer>
  </blockquote>
  <p>
    The scale is a <a href="https://en.wikipedia.org/wiki/Bluetooth_Low_Energy">Bluetooth Low Energy
      device</a>, and Google Chrome has <a target="_blank"
      href="https://webbluetoothcg.github.io/web-bluetooth/">Web
      Bluetooth</a> support, so I wrote this app to connect to the Motif Perfect scale and just do one
    thing well: weigh stuff.
  </p>
  <h4>Notes</h4>
  <ul>
    <li>The scale times out in 5 minutes, whether you are using it or not. Each
      time it does, the blue light on it will start flashing. </li>
    <li>It is not possible to read the battery level AND weight at the same time.
      This is a limitation of BLE, not the scale. I'm working on a work-around.
    </li>
  </ul>
</main>